<!doctype html>
<html lang="en">
  <head>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
    <title>Fleet Management System</title>
    {% endif %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/images/logo/favicon.ico" />

    <!-- page css -->
    <link
      href="/static/assets/vendors/apexcharts/dist/apexcharts.css"
      rel="stylesheet"
    />

    <!-- Core css -->
    <link href="/static/assets/css/app.min.css" rel="stylesheet" />

    {% block css_link %}
    {% endblock css_link %}
    
  </head>
  <body>

  

<div class="layout">
  <div class="vertical-layout">
    <!-- Header START -->
    <div class="header-text-dark header-nav layout-vertical">
      <div class="header-nav-wrap">
        <div class="header-nav-left">
          <div class="header-nav-item desktop-toggle">
            <div class="header-nav-item-select cursor-pointer">
              <i class="nav-icon feather icon-menu icon-arrow-right"></i>
            </div>
          </div>
          <div class="header-nav-item mobile-toggle">
            <div class="header-nav-item-select cursor-pointer">
              <i class="nav-icon feather icon-menu icon-arrow-right"></i>
            </div>
          </div>
        </div>
        <div class="header-nav-right">
          <div class="header-nav-item">
            <div class="dropdown header-nav-item-select nav-notification">
              <div
                class="toggle-wrapper"
                id="nav-notification-dropdown"
                data-bs-toggle="dropdown"
              >
                <!-- <i class="header-nav-item-select nav-icon feather icon-bell"></i> -->
              </div>
              <div class="dropdown-menu dropdown-menu-end">
                <div class="nav-notification-header">
                  <h5 class="mb-0">Notifications</h5>
                  <a href="#" class="font-size-sm">Mark All as Read</a>
                </div>
                <div class="nav-notification-body">
                  <div class="nav-notification-item">
                    <div
                      class="avatar avatar-circle avatar-image"
                      style="width: 40px; height: 40px; line-height: 40px"
                    >
                      <img
                        src="/static/assets/images/avatars/thumb-8.jpg"
                        alt=""
                      />
                    </div>
                    <div class="ms-2">
                      <span>
                        <span class="fw-bolder text-dark">Jean Bowman </span>
                        <span>invited you to new project.</span>
                      </span>
                      <div class="font-size-sm fw-bold mt-1">
                        <i class="feather icon-clock"></i>
                        <span class="ms-1">4 months ago</span>
                      </div>
                    </div>
                  </div>
                  <div class="nav-notification-item">
                    <div
                      class="bg-primary feather font-size-lg icon-info avatar avatar-circle"
                      style="width: 40px; height: 40px; line-height: 40px"
                    ></div>
                    <div class="ms-2">
                      <span>
                        <span class="fw-bolder text-dark"> </span>
                        <span>Please submit your daily report.</span>
                      </span>
                      <div class="font-size-sm fw-bold mt-1">
                        <i class="feather icon-clock"></i>
                        <span class="ms-1">4 months ago</span>
                      </div>
                    </div>
                  </div>
                  <div class="nav-notification-item">
                    <div
                      class="bg-success feather font-size-lg icon-info avatar avatar-circle"
                      style="width: 40px; height: 40px; line-height: 40px"
                    ></div>
                    <div class="ms-2">
                      <span>
                        <span class="fw-bolder text-dark"> </span>
                        <span>Your request has been approved.</span>
                      </span>
                      <div class="font-size-sm fw-bold mt-1">
                        <i class="feather icon-clock"></i>
                        <span class="ms-1">4 months ago</span>
                      </div>
                    </div>
                  </div>
                  <div class="nav-notification-item">
                    <div
                      class="avatar avatar-circle avatar-image"
                      style="width: 40px; height: 40px; line-height: 40px"
                    >
                      <img
                        src="/static/assets/images/avatars/thumb-4.jpg"
                        alt=""
                      />
                    </div>
                    <div class="ms-2">
                      <span>
                        <span class="fw-bolder text-dark">Jenifer Ruiz </span>
                        <span>mentioned you in comment.</span>
                      </span>
                      <div class="font-size-sm fw-bold mt-1">
                        <i class="feather icon-clock"></i>
                        <span class="ms-1">4 months ago</span>
                      </div>
                    </div>
                  </div>
                  <div class="nav-notification-item">
                    <div
                      class="bg-success feather font-size-lg icon-x-circle avatar avatar-circle"
                      style="width: 40px; height: 40px; line-height: 40px"
                    ></div>
                    <div class="ms-2">
                      <span>
                        <span class="fw-bolder text-dark"> </span>
                        <span>Your request has been rejected.</span>
                      </span>
                      <div class="font-size-sm fw-bold mt-1">
                        <i class="feather icon-clock"></i>
                        <span class="ms-1">4 months ago</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-notification-footer">
                  <a href="#" class="font-size-sm">View All</a>
                </div>
              </div>
            </div>
          </div>
          <div class="header-nav-item">
            <div class="header-nav-item-select">
              <div
                class="toggle-wrapper"
                data-bs-toggle="modal"
                data-bs-target="#quick-view"
              >
                <!-- <i class="nav-icon feather icon-settings"></i> -->
              </div>
            </div>
          </div>
          <div class="header-nav-item">
            <div class="dropdown header-nav-item-select">
              <div
                class="toggle-wrapper"
                id="nav-lang-dropdown"
                data-bs-toggle="dropdown"
              >
                <div
                  class="avatar avatar-circle avatar-image"
                  style="width: 22px; height: 22px; line-height: 22px"
                >
                  <!-- <img src="static/assets/images/thumbs/en_US.png" alt=""> -->
                </div>
              </div>
              <div class="dropdown-menu dropdown-menu-end">
                <a href="javascript:void(0)" class="dropdown-item">
                  <div class="d-flex align-items-center">
                    <div
                      class="avatar avatar-circle avatar-image"
                      style="width: 18px; height: 18px; line-height: 18px"
                    >
                      <img src="/static/assets/images/thumbs/en_US.png" alt="" />
                    </div>
                    <span class="ms-2">English</span>
                  </div>
                </a>
                <a href="javascript:void(0)" class="dropdown-item">
                  <div class="d-flex align-items-center">
                    <div
                      class="avatar avatar-circle avatar-image"
                      style="width: 18px; height: 18px; line-height: 18px"
                    >
                      <img src="/static/assets/images/thumbs/fr_FR.png" alt="" />
                    </div>
                    <span class="ms-2">French</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="header-nav-item">
            <div class="dropdown header-nav-item-select nav-profile">
              <div
                class="toggle-wrapper"
                id="nav-profile-dropdown"
                data-bs-toggle="dropdown"
              >
                <div
                  class="avatar avatar-circle avatar-image"
                  style="width: 35px; height: 35px; line-height: 35px"
                >
                  <img src="/static/assets/images/avatars/thumb-1.jpg" alt="" />
                </div>
                <span class="fw-bold mx-1">{{ current_user.username }}</span>
                <i class="feather icon-chevron-down"></i>
              </div>
              <div class="dropdown-menu dropdown-menu-end">
                <div class="nav-profile-header">
                  <div class="d-flex align-items-center">
                    <div class="avatar avatar-circle avatar-image">
                      <img
                        src="/static/assets/images/avatars/thumb-1.jpg"
                        alt=""
                      />
                    </div>
                    <div class="d-flex flex-column ms-1">
                      <span class="fw-bold text-dark">{{ current_user.username }}</span>
                      <span class="font-size-sm">{{ current_user.email }}</span>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0)" class="dropdown-item">
                  <div class="d-flex align-items-center">
                    <i class="font-size-lg me-2 feather icon-user"></i>
                    <span>Profile</span>
                  </div>
                </a>
                <a href="javascript:void(0)" class="dropdown-item">
                  <div class="d-flex align-items-center">
                    <i class="font-size-lg me-2 feather icon-settings"></i>
                    <span>Settings</span>
                  </div>
                </a>
                <a href="javascript:void(0)" class="dropdown-item">
                  <div class="d-flex align-items-center">
                    <i class="font-size-lg me-2 feather icon-life-buoy"></i>
                    <span>Support</span>
                  </div>
                </a>
                <a href="/logout" class="dropdown-item">
                  <div class="d-flex align-items-center">
                    <i class="font-size-lg me-2 feather icon-power"></i>
                    <span>Sign Out</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header END -->

    <!-- Side Nav START -->
    <div class="side-nav vertical-menu nav-menu-light scrollable">
      <div class="nav-logo">
        <div class="w-100 logo">
          <img 
            class="img-fluid"
            src="/static/assets/images/logo/logo.png"
            style="max-height: 40px"
            alt="logo"
          />
        </div>
        <div class="mobile-close">
          <i class="icon-arrow-left feather"></i>
        </div>
      </div>
      <ul class="nav-menu main_dashboad_menu">
        <li class="nav-menu-item dash {{ dashboard }}">
          <a href="/">
            <i class="feather icon-home"></i>
            <span class="nav-menu-item-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-group-title">Admin Forms</li>



        <li class="nav-menu-item {{dclass}}">
          <a href="{{ url_for('Admin_DriverVehicle.drivers') }}">
            <i class="feather icon-users"></i>
            <span class="nav-menu-item-title">Drivers</span>
          </a>
        </li>

        <li class="nav-menu-item {{vclass}}">
          <a href="{{ url_for('Admin_DriverVehicle.vehicle_form') }}">
            <i class="feather icon-clipboard"></i>
            <span class="nav-menu-item-title">Vehicles</span>
          </a>
        </li>
        <!-- <li class="nav-menu-item">
          <a href="/">
            <i class="feather icon-calendar"></i>
            <span class="nav-menu-item-title">Fleet incident reporting</span>
          </a>
        </li>

        <li class="nav-menu-item">
          <a href="/">
            <i class="feather icon-calendar"></i>
            <span class="nav-menu-item-title">
              N.C incident reporting</span>
          </a>
        </li>

        <li class="nav-menu-item">
          <a href="/">
            <i class="feather icon-calendar"></i>
            <span class="nav-menu-item-title">
             Fleet inspection driver</span>
          </a>
        </li> -->

      </ul>
    </div>
    <!-- Side Nav END -->

    <!-- Content START -->
    <div class="content">
        {% block body %}
        {% endblock body %}
    </div>
    </div>
    <!-- Content END -->

    <!-- Quick View START -->
    <div class="modal modal-right fade quick-view" id="quick-view">
      <div class="modal-dialog right">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Theme Config</h4>
            <button
              type="button"
              class="close pull-right"
              data-bs-dismiss="modal"
            >
              <span>×</span>
            </button>
          </div>
          <div class="modal-body scrollable">
            <div class="mb-4">
              <h5 class="mb-0">Header Color</h5>
              <p>Config header background color</p>
              <div class="theme-configurator d-flex mt-2">
                <div class="radio">
                  <input
                    id="header-default"
                    name="header-theme"
                    type="radio"
                    checked
                    value="#ffffff"
                  />
                  <label for="header-default"></label>
                </div>
                <div class="radio">
                  <input
                    id="header-primary"
                    name="header-theme"
                    type="radio"
                    value="#11a1fd"
                  />
                  <label for="header-primary"></label>
                </div>
                <div class="radio">
                  <input
                    id="header-success"
                    name="header-theme"
                    type="radio"
                    value="#00c569"
                  />
                  <label for="header-success"></label>
                </div>
                <div class="radio">
                  <input
                    id="header-info"
                    name="header-theme"
                    type="radio"
                    value="#5a75f9"
                  />
                  <label for="header-info"></label>
                </div>
                <div class="radio">
                  <input
                    id="header-warning"
                    name="header-theme"
                    type="radio"
                    value="#ffc833"
                  />
                  <label for="header-warning"></label>
                </div>
                <div class="radio">
                  <input
                    id="header-danger"
                    name="header-theme"
                    type="radio"
                    value="#f46363"
                  />
                  <label for="header-danger"></label>
                </div>
              </div>
            </div>
            <hr />
            <div>
              <h5 class="mb-0">Side Nav Dark</h5>
              <p>Change Side Nav to dark</p>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="side-nav-theme-toggle"
                  id="side-nav-theme-toggle"
                />
                <label
                  class="form-check-label"
                  for="side-nav-theme-toggle"
                ></label>
              </div>
            </div>
            <hr />
            <div>
              <h5 class="mb-0">Folded Menu</h5>
              <p>Toggle Folded Menu</p>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="side-nav-fold-toogle"
                  id="side-nav-fold-toogle"
                />
                <label
                  class="form-check-label"
                  for="side-nav-fold-toogle"
                ></label>
              </div>
            </div>
            <div>
              <h5 class="mb-0">Horizontal Layout</h5>
              <p>Set Horizontal Layout</p>
              <div class="btn-group btn-group-sm">
                <a
                  href="#"
                  class="btn btn-outline-primary active"
                  aria-current="page"
                  >Vertical</a
                >
                <a href="h-index.html" class="btn btn-outline-primary"
                  >Horizontal</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Quick View END -->
  </div>
</div>

<!-- Core Vendors JS -->
<script src="/static/assets/js/vendors.min.js"></script>

<!-- page js -->
<script src="/static/assets/vendors/apexcharts/dist/apexcharts.min.js"></script>
<script src="/static/assets/js/pages/dashboard.js"></script>

<!-- Core JS -->
<script src="/static/assets/js/app.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </body>
</html>
