<div class="main row" style="width: fit-content;">
  <div class="card">
    <div class="card-body table-responsive">
      <h3>Vehicle Expenses</h3>
      <table class="table table-hover table-bordered border-primary">
        <thead class="table-light">
            <tr>
                <th>Driver</th>
                <th>Reg Num</th>
                <th>Make</th>
                <th>Model</th>
                <th>Fuel Value</th>
                <th>oil Value</th>
                <th>Repair and Maint.</th>
                <th>Tyre Value</th>
                <th>Accident Value</th>
                <th>Other Value</th>
                <th>Toll Value</th>
            </tr>
        </thead>

        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.employee_no }}</td>
            <td>{{ user.vehicle.vehicle_manufacturer }}</td>
            <td>{{ user.vehicle.model }}</td>

            {% if user.vehicle_expense %}
            <td class="fuel_value">
              {% for f in user.vehicle_expense %}
                {{ f.fuel_value }},
              {% endfor %}
            </td>
            
            {% else %}
            <td>None</td>
            {% endif %}
            
            
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>R82.30</td>
          </tr>
          {% endfor %}
        </tbody>


        </table>

    </div>
  </div>
</div>

<script>
  $fuel_values = $(".fuel_value");

  $fuel_values.each(function(){
    $value = $(this).text().split(",");
    var sum = 0;
    for (let i=0; i<$value.length; i++){
      $v = $.trim($value[i])
      if ($v!=""){
        sum += Number($v)
      }
    }
    $(this).text(sum)
  })
  
  
</script>