<div class="main row" style="width: fit-content;">
  <div class="card">
    <div class="card-body table-responsive">
      <h3>Vehicle Expenses</h3>
      <table class="table table-hover table-bordered border-primary">
        <thead class="table-light">
            <tr>
                <th>Driver</th>
                <th>Employee No</th>
                <th>Fuel Value</th>
                <th>oil Value</th>
                <th>Repair and Maint.</th>
                <th>Tyre Value</th>
                <th>Accident Value</th>
                <th>Other Value</th>
                <th>Toll Value</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.employee_no }}</td>

            {% if user.vehicle_expense %}
            <!-- for fuel value -->
            <td class="the_value">
              {% for f in user.vehicle_expense %}
                {{ f.fuel_value }},
              {% endfor %}
            </td>

            <!-- for oil value -->
            <td class="the_value">
              {% for f in user.vehicle_expense %}
                {{ f.oil_value }},
              {% endfor %}
            </td>

            <!-- for repair and maintanance -->
            <td class="the_value">
              {% for f in user.vehicle_expense %}
                {{ f.repair_and_maint }},
              {% endfor %}
            </td>

            <!-- for tyre value -->
            <td class="the_value">
              {% for f in user.vehicle_expense %}
                {{ f.tyre_value }},
              {% endfor %}
            </td>

            <!-- for accident value -->
            <td class="the_value">
              {% for f in user.vehicle_expense %}
                {{ f.accident_value }},
              {% endfor %}
            </td>

            <!-- for other value -->
            <td class="the_value">
              {% for f in user.vehicle_expense %}
                {{ f.other_value }},
              {% endfor %}
            </td>

            <!-- for toll value -->
            <td class="the_value">
              {% for f in user.vehicle_expense %}
                {{ f.toll_value }},
              {% endfor %}
            </td>
            
            {% else %}
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            {% endif %}

            <td><a href="{{ url_for('driver_expense.index', id=user.id) }}" target="_blank" class="btn btn-sm btn-outline-warning">
              <i class="feather icon-external-link"></i>
              View</a></td>
            
          </tr>
          {% endfor %}
        </tbody>


        </table>

    </div>
  </div>
</div>

<script async src="{{ url_for('static', filename='js/admin_dashboard.js') }}"> 
  
</script>