{% extends "admin/master.html" %} {% block head_css %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='add_driver.css') }}"
/>
{% endblock head_css %} {% block body %}

<form action="" method="post" enctype="multipart/form-data">
  <div class="cont">
    <div class="firstform">
      <div>
        <label for="email">Email Address:</label>
        <input type="email" name="email" id="email" required />
      </div>

      <div>
        <label for="password">password:</label>
        <input type="password" name="password" id="password" required />
      </div>

      <div>
        <label for="r_no">Registration no:</label>
        <input type="number" name="registration_no" id="r_no" required />
      </div>

      <div>
        <label for="fleet">Fleet no:</label>
        <input type="number" name="fleet" id="fleet" />
      </div>
    </div>

    <div class="secondform">
      <div>
        <label for="milage">Milage :</label>
        <input type="number" name="milage" id="milage" />
      </div>

      <div>
        <label for="driver_license">Driver License:</label>
        <input
          type="file"
          name="driver_license"
          id="driver_license"
          accept="image/*"
          required
        />
      </div>

      <div>
        <label for="username">Full name and surname:</label>
        <input type="text" name="username" id="username" required />
      </div>

      <div>
        <label for="id_no">ID NO (Attach Copy)</label>
        <input type="file" name="id_no" accept="image/*" id="id_no" required />
      </div>

      <div>
        <label for="drivers_license_no">Drivers License No:</label>
        <input
          type="number"
          name="drivers_license_no"
          id="drivers_license_no"
          required
        />
      </div>
    </div>

    <div class="thirdform">
      <div>
        <label for="select">Drivers License Endorsed </label>
        <select id="select" name="license_endorsed">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>

      <div>
          <label for="license_renewal">Drivers License Renewal Date</label>
          <input type="date" name="license_renewal" id="license_renewal" />
        </div>

        <div>
            <label for="cell_no">Cell No:</label>
            <input type="number" name="cell_no" id="cell_no" required />
        </div>
        <div>
            <label for="family_member">Family Member</label>
            <input type="text" name="family_member" id="family_member" />
        </div>    
        
    </div>
  </div>
  <center>
    <input type="submit" value="Add Driver" class="" />
  </center>
</form>

{% endblock body %}
