<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses Form</title>
    <link rel="stylesheet" href="expenses.css">
</head>
<body>
    <form action="#" method="post">
        <div class="maincount">

        <div class="firstform">
            <label for="driver">Driver</label>
            <input type="text" id="driver" value="driver" readonly>

            <label for="reg no">Reg no:</label>
            <input type="text" id="reg no" value="reg no :" readonly>

            <label for="yr_mth">YR_MTH</label>
            <input type="number" type="number and ." id="yr_mth" value="#:42401">

            <label for="make">Make</label>
            <input type="text" id="make" value="make" readonly>

            <label for="model">Model</label>
            <input type="text" id="model" value="model" readonly>

            <label for="fuel value">Fuel Value</label>
            <input type="text" id="fuel value">
            </div>

            <div class="secondform">
            <label for="oil value">Oil value</label>
            <input type="text" id="oil value">

            <label for="repair and maint">Repair and Maint</label>
            <input type="text" id="repair and maint">

            <label for="tyre value">Tyre value</label>
            <input type="text" id="tyre value">

            <label for="accident value">Accident value</label>
            <input type="text" id="accident value">

            <label for="other value">Other value</label>
            <input type="text" id="other value">

            <label for="toll value">Toll value</label>
            <input type="text" id="toll value">
            </div>
        </div>
        <center>
            <button>Submit</button>
        </center>
    </form>
    
</body>
</html>