<center>
    <h1><u>Current Vehicle details</u></h1>
</center>

<table class="table table-sm table-striped" style="width: 50%; margin: auto;">
<tbody>
    <tr>
        <td>Registration No.</td>
        <td>{{ vehicle.registration_no }}</td>
    </tr>
    <tr>
        <td>Financer</td>
        <td>{{ vehicle.financer }}</td>
    </tr>
    <tr>
        <td>Account No.</td>
        <td>{{ vehicle.account_no }}</td>
    </tr>
    <tr>
        <td>Original Capital Balance</td>
        <td>{{ vehicle.original_capital_balance }}</td>
    </tr>
    <tr>
        <td>Installment Amount</td>
        <td>{{ vehicle.installment_amount }}</td>
    </tr>
    <tr>
        <td>Frequency of installment</td>
        <td>{{ vehicle.frequency_of_installment }}</td>
    </tr>
    <tr>
        <td>Date Commenced</td>
        <td>{{ vehicle.date_commenced }}</td>
    </tr>
    <tr>
        <td>Expiry date</td>
        <td>{{ vehicle.expiry_date }}</td>
    </tr>
    <tr>
        <td>original_term</td>
        <td>{{ vehicle.original_term }}</td>
    </tr>
    <tr>
        <td>Remaining Installments</td>
        <td>{{ vehicle.remaining_installments }}</td>
    </tr>
    <tr>
        <td>Balloon / Risidual</td>
        <td>{{ vehicle.balloon_risidual }}</td>
    </tr>
    <tr>
        <td>Outstanding Capital Balance</td>
        <td>{{ vehicle.outstanding_capital_balance }}</td>
    </tr>
    <tr>
        <td>Advance Amount</td>
        <td>{{ vehicle.advance_amount }}</td>
    </tr>
    <tr>
        <td>Actual Contract Amount</td>
        <td>{{ vehicle.actual_contract_balance }}</td>
    </tr>
    <tr>
        <td>Interest Rate</td>
        <td>{{ vehicle.interest_rate }}%</td>
    </tr>
    <tr>
        <td>Take on odo</td>
        <td>{{ vehicle.take_on_odo }}</td>
    </tr>
    <tr>
        <td>Vehicle manufacturer</td>
        <td>{{ vehicle.vehicle_manufacturer }}</td>
    </tr>
    <tr>
        <td>Date of first registration</td>
        <td>{{ vehicle.date_of_first_registration }}</td>
    </tr>
    <tr>
        <td>model</td>
        <td>{{ vehicle.model }}</td>
    </tr>
    <tr>
        <td>Color</td>
        <td>{{ vehicle.color }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ vehicle. }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ vehicle. }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ vehicle. }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ vehicle. }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ vehicle. }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ vehicle. }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ vehicle. }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ vehicle. }}</td>
    </tr>
</tbody>
</table>
