{% extends "layout.html" %}


{% block body %}
<style>
  body{
    background-color: #eee;;
  }
</style>

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

<section class="h-100" style="background-color: #eee;">
    <div class="container py-2 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-5 ">
          <div class="card rounded-3 text-black">
            <div class="row">
              <div class="">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="{{ url_for('static', filename='css_images/logo.png') }}"
                      style="width: 185px; margin: 20px;" alt="logo">
                    <h4 class=" mb-1 pb-1">Login Form</h4>
                    
                    {% include "_flash.html" %}

                  </div>
  
                  <form action="{{ url_for('user.login') }}" method="POST"
                    class="col-lg-10 d-block m-auto">
  
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example11" class="form-control"
                        placeholder="Email Address" name="email"/>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example22" class="form-control" 
                        placeholder="Password" name="password"/>
                    </div>
  
                    <div class="text-center pt-1 mb-3 pb-1">
                      <input type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" value="Login" />
                    </div>
  
                    <!-- <div class="d-flex align-items-center justify-content-center pb-2">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <button type="button" class="btn btn-outline-danger"
                        onclick="window.location.href='/register'">Create new</button>
                    </div> -->
  
                  </form>
  
                </div>
              </div>
              <!-- <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just a company</h4>
                  <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock body %}

