{% extends "layout.html" %}


{% block body %}


<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">

<section class=" gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>

            {% include "_flash.html" %}

              <form action="{{ url_for('user.register') }}" method="POST">
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="firstName" class="form-control form-control-lg" 
                                            name="username" min="4" required/>
                      <label class="form-label" for="firstName">Username</label>
                    </div>
  
                  </div>

                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="email" id="email" class="form-control form-control-lg"
                                            name="email" required/>
                      <label class="form-label" for="email">Email</label>
                    </div>
  
                  </div>
                  
                </div>
  
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="password" id="password" class="form-control form-control-lg"
                                            name="password" min="4" required/>
                      <label class="form-label" for="password">Password</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="password" id="rpassword" class="form-control form-control-lg"
                                                name="rpassword" min="4" required/>
                      <label class="form-label" for="rpassword">Repeat Password</label>
                    </div>
  
                  </div>
                </div>
  
  
                <div class="pt-2 text-center">
                  <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div>

                <div class="mt-2 pt-2 text-center">
                    <p>Already a user ? <a href="/login">Login</a></p>
                  </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock body %}

