{% extends "layout.html" %} 

{% block body %}
<style>
  body{
    overflow: scroll;
  }
</style>


<div class="main">
  <div class="card">
    <div class="card-body">

      {% include "_flash.html" %}

      <div class="header d-flex flex-row justify-content-between">
        <h3>Total maintanance ({{maintanance|count}})</h3>
        <a href="{{ url_for('driver_forms.add_maintanance') }}"
         class="btn btn-outline-info mb-2">Add Maintanance</a>
      </div>

      <!-- Expense table for showing expenses -->
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="bg-dark text-white">
              <th>YR MTH</th>
              <th>Make</th>
              <th>Model</th>
              <th>Fuel Value</th>
              <th>KM Travelled</th>
              <th>Oil Value</th>
              <th>Km</th>
              <th>Repair and Maintanance</th>
              <th>Maintanace Plan</th>
              <th>Maintance Expire on</th>
              <th>Type of Service</th>
              <th>Service Interval</th>
              <th>Tyre Value</th>
              <th>Accident Value</th>
              <th>Accident Incident</th>
              <th>Other Value</th>
              <th>Description</th>
              <th>Toll Value</th>
            </tr>
          </thead>
          <tbody>
            {% for t in maintanance %}
            <tr>
              <td>{{ t.yr_mth.strftime("%Y-%m-%d") }}</td>
              <td>{{ t.make }}</td>
              <td>{{ t.model }}</td>
              <td>{{ t.fuel_value }}</td>
              <td>{{ t.km_travelled }}</td>
              <td>{{ t.oil_value }}</td>
              <td>{{ t.km }}</td>
              <td>{{ t.repair_and_maint }}</td>
              <td>{{ t.maintenance_plan }}</td>
              <td>{{ t.maintenance_expiry_year_month_km_date }}</td>
              <td>{{ t.type_of_service }}</td>
              <td>{{ t.service_intervals }}</td>
              <td>{{ t.tyre_value }}</td>
              <td>{{ t.accident_value }}</td>
              <td>{{ t.accident_incident }}</td>
              <td>{{ t.other_value }}</td>
              <td>{{ t.description }}</td>
              <td>{{ t.toll_value }}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>



    </div>
  </div>
</div>



{% endblock %}